<div class="container">
	<h1>MPF fund types</h1>
	<div class="alert "
		[ngClass]="{
			'alert-success': actionResult.success && touched,
			'alert-danger':  !actionResult.success	
		}">
		{{actionResult.message}}</div>
	<button (click)="onClickScrape()" >Scrape the page and cache</button>
	<button (click)="onClickDelete()" >Delete the cache</button>
	<table class="table">
		<thead>
		<tr>
		<th>Fund Type</th>
		<th>Investment Objectives</th>
		<th>Investment Instruments</th>
		<th>Major Risk</th>
		<th>Feature</th>
		</tr>		
		</thead>
		<tbody>
			<tr *ngFor="let item of mpfDetails">
				<td>{{item.fundType}}</td>				
				<td>{{item.investObjective}}</td>
				<td>{{item.investInstruments}}</td>
				<td [innerHtml]="item.majorRisk | nl2brPipe"></td>
				<td [innerHtml]="item.feature | nl2brPipe"></td>
			</tr>

		</tbody>
	</table>
</div>